body {
    margin: 0;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
    font-family: "Roboto", sans-serif;
}

.content {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
    margin-bottom: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.sub-header {
    display: flex;
    flex: 1 0;
    justify-content: space-between;
    align-items: center;
    padding: 48px 100px 80px 100px;
}

.sub-header-text {
    max-width: 400px;
}

.sub-header-text .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sub-header-text .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.image {
    height: 200px;
    width: 450px;
    background-color: rgba(156, 152, 152, 0.895);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    border-radius:10%;
    border: none;
    color: white;
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
