body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .sub-header, .footer {
    background-color: #1f2937;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
    margin-bottom: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.sub-header {
    display: flex;
    flex: 1 0;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 90px 100px;
}

.sub-header-text {
    max-width: 400px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}

.sub-header-text .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sub-header-text .text, .card-container-text .text {
    color: #e5e7eb;
    font-size: 18px;
}

.image {
    height: 200px;
    width: 450px;
    background-color: rgba(156, 152, 152, 0.895);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.sub-header button{
    align-self: flex-start;
}

button {
    background-color: #3882f6;
    border-radius:5px;
    border: none;
    color: white;
    padding: 10px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.content-top {
    padding: 50px;
}

.card-caption {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.card-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 10px;
}

.card {
    height: 120px;
    width: 120px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.card-container .text {
    text-align: center;
}

.content-middle {
    background-color: #e5e7eb;
    padding: 50px 200px;
    display: flex;
    justify-content: center;
}

.middle-text {
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    width: 800px;
}

.speaker {
    font-size:18px;
    font-weight: 900;
    padding: 20px;
    align-self: flex-end;
}

.content-bottom {
    display: flex;
    justify-content: center;
    background-color: white;
}

.call {
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 1px solid #3882f6;
    border-radius: 5px;
    padding: 30px 50px;
    margin: 60px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-bottom button { 
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

.call .title {
    font-size: 18px;
    font-weight: 900;
}

.call .text {
    font-size: 12px;
    width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}